<p>
    second works!
</p>

<body>
    <div class="row">
        <div class="card-deck">
            <a routerLink="/first/1">
                <div class="card text-white bg-success col-sm-4">
                    <div class="card-header">

                        <div class="card-body">
                            <h2 class="card-title">Sports Updates</h2>

                            <p>On the Insert tab, the galleries include items that are designed to coordinate
                                with the overall look of your document. You can use these galleries to
                                insert tables, headers, footers, lists, cover pages, and other document
                                building blocks. When you create pictures, charts, or diagrams, they also
                                coordinate with your current document look.On the Insert tab, the galleries include
                                items that are designed to coordinate with the overall look of your document.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a routerLink="/first/2">
                <div class="card text-white bg-warning col-sm-4">
                    <div class="card-header">

                        <div class="card-body">
                            <h2 class="card-title">Movie Updates</h2>

                            <p>On the Insert tab, the galleries include items that are designed to coordinate
                                with the overall look of your document. You can use these galleries to
                                insert tables, headers, footers, lists, cover pages, and other document
                                building blocks.On the Insert tab, the galleries include
                                items that are designed to coordinate with the overall look of your document.</p>
                        </div>
                    </div>
                </div>
            </a>

            <a routertLink="/first/3">
                <div class="card text-white bg-primary col-sm-4">
                    <div class="card-header">
                        <h2 class="card-title">Latest News</h2>

                        <div class="card-body">
                            <p> On the Insert tab, the galleries include items that are designed to coordinate
                                with the overall look of your document. You can use these galleries to
                                insert tables, headers, footers, lists, cover pages, and other document
                                building blocks. When you create pictures, charts, or diagrams, they also
                                coordinate with your current document look. You can easily change the formatting
                                of selected text in the document text by choosing a look for the selected.
                            </p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>



</body>