.address-card{
    border: 1px blue solid;
    padding: 15px
}
.name
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.address-card .title /*for more specific */
{
    font-style:italic
}
.address{
    font-size: 15px
}
.phone{
 border-left: 3px springgreen solid
}