
<h1 style="text-align: center;color: olivedrab;font-family: 'Lucida Sans'">Manage Merchant</h1>
<div class="jumbotron"style="text-center;">
  <div class="container text-center"  >
      <ul class="nav navbar-nav ml-auto">
          
              <!-- <a routerLink="/withdraw" class="nav-link">Withdraw</a> 
         
              <a routerLink="/deposit" class="nav-link ">Depost</a> 
  
              <a routerLink="/fundTransfer"class="nav-link" >Fund Transfer</a> -->

              <div class="btn-group">
                  <button type="button" name="addNewMerchant"class="btn btn-primary" routerLink='/registerMerchant'>Add New Merchant</button>
                  <button type="button" name="manageMerchant" class="btn btn-warning"routerLink='/admin'>Manage Existing Merchant</button>
  
              </div>
                   
          
      </ul>
    </div>
</div>

